table {
    border-collapse: collapse;
    width: 58rem;
    height: 30rem;
}

th, td {
    width: 5%;
    height: 4rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

td:hover {
      background-color: #495057;
}

td:active, td.active {
      background-color: #1862ab;
}

.part:hover{
  background-color: white;
}
.part:active, .part.active {
      background-color: white;
}
