.my-buttons {
    display: inline-block;
    color: white;
    font-size: 1rem;
    line-height: 1rem;
    width: 7rem;
    margin: 3rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    border: 2px solid white;

}

.my-buttons:hover {
    background-color: #495057;
}

.my-buttons:active, .my-buttons.active {
    background-color: #1862ab;
}
